<h1>New user</h1>

	<% if user_type_string == 'student' %>
	<%= render 'student_signup_form' %>

	<% elsif user_type_string == 'supervisor' %>
		<%= render 'supervisor_signup_form' %>

	<% end %>

<%= link_to 'Back', users_path %>
