<!-- Modal -->
<div class="modal fade" id="message-modal<%=application.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"style="height:400px;">
    <div class="modal-content" style="height:400px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin:20px;">&times;</button>
      <div class="modal-body">
        <%= application.message %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->