<p id="notice"><%= notice %></p>
<%= link_to 'Apply Now', new_posting_urop_application_path(params[:id]) %> |
<%= link_to 'Edit', edit_posting_path(@posting) %> |
<%= link_to 'Back', postings_path %>
