<!--urop.io Home Page-->
		
<html>
<br></br>
<h1 class="homeHeader centerize">urop.io</h1>
<br></br>
<body class="homepage">
<div class="form-group float_left textFieldHeight">
	<%= form_tag sessions_path do %>
		<%= text_field_tag :email, params[:email], placeholder: "Email address" %>
		<br></br>
		<%= password_field_tag :password, nil, placeholder: "Password", :id => 'password-field' %>
		<br></br>
		<%= submit_tag "Log in", :class => 'btn btn-large btn-primary', :id => 'login-btn'%>
	<% end %>
	<center>
		<div class="homepageText">
			<p class="hpText">
				urop.io connects MIT students to the UROP supervisors and projects that are right for them.
			</p>
		</div>
	</center>
	<br></br>
	<br></br>
</body>
</html>



