/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.homeForms {
	margin-left: -300px;
}

.inline {
	display: inline;
	width: 500px;
}

.signupButtons {
	display: inline;
	float: left;
	width: 600px;
	height: 50px;
	margin-bottom: 30px;
}

.homepageText {
	font-family: sans-serif;
	margin-left: 100px;
	font-size: 16pt;
	position : relative;
	left: -25%;
	margin-top: 6%;
	text-align: center;
	margin-left : 420px;
	width: 40%;
	font-style: lighter;
}

.hpMargin {
	margin-left: 35%;
	float: left;
}

.hpText {
	font-size: 28px;
	line-height: 100%;
	font-weight: bold;
	width: 400px;
}

.Nav{
	background-color: gray;
}

.homepage {
	text-align: left;
	background-image:url('http://www.dfsrealestate.com/wp-content/themes/dfs/images/backgrounds/background_research_001.jpg');
	background-size: 100% auto;
	height : 100%;
	width: 100%;
	margin-top: 40px;
}

.homeHeader {
	color: black;
	font-size: 60px;
}

.profileHeader {
	margin-right: 200px;

}

.textFieldHeight {
	padding: 20px 10px;
	line-height: 28px;
	height: 20px;
	display:block;
}

.profileInfo {
	border-style: inset;
	border-width: medium;
	width: 50%;
}

.Note {
	color: gray
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.formMargin {
	margin-left: -150px;
}

.editform {
	background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	margin: auto;
	float: center;
	position: relative;
	width: 550px;
	height: auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color: #09C;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.inheritFont {
	font-size: inherit;
}

.showprofile {
	background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	margin:auto;
	position:relative;
	float: center;
	margin-right: auto;
	margin-left: auto;
	width: 550px;
	height: auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color: #09C;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	text-align: left;
}

.alignBottom {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.signupform {
	background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	margin:auto;
	position:relative;
	width: 550px;
	height: auto;
	float: center;
	margin-right: auto;
	margin-left: auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color: #09C;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


input.button {
	width:100px;
	position:absolute;
	right:20px;
	bottom:20px;
	background:#09C;
	color:#fff;
	font-family: Tahoma, Geneva, sans-serif;
	height:30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1p solid #999;
}
input.button:hover {
	background:#fff;
	color:#09C;
}

.nav-text{
	color:blue;
}

.setting{
	color:#C49963;
	margin-right:40px;
}
