// Place all the styles related to the Postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row-fluid{
	margin:20px;	
}
.well{
	width: 200px;
}
.modal-body{
	width:100%;
	height:60%;
}