<center><h1>Listing reviews</h1></center><br>
<!-- search bar -->
<%= form_tag reviews_path, :method => 'get', :id => "reviews_search" do %>
 <%= text_field_tag :search, params[:search], type: "text" %>
<%= submit_tag "Filter by Supervisor", :name => nil, class: "btn btn-primary" %>
<% end %>

<div id="reviews"><%= render "allreviews" %></div>