<center><h1>UROP Reviews</h1></center><br>
<!-- 
	search bar 
Only display search bar for student users
-->
<% if current_user.type == "Student" %>
<%= form_tag reviews_path, :method => 'get', :id => "reviews_search" do %>
<div class="input-group">
 <%= text_field_tag :search, params[:search], class: "form-control",style:"height:30px",type: "text" %>
 <div class="input-group-btn">
<%= submit_tag "Filter by Supervisor", :name => nil, class: "btn btn-default" %>
</div>
</div>
<% end %>
<% end %>
<div id="reviews"><%= render "allreviews" %></div>